* {
    margin: 0;
}
/*
    3. Allow percentage-based heights in the application
  */
html,
body {
    height: 100%;
}
#canvas {
    width: 800px;
    height: 800px;
    background-color: rgb(54, 54, 54);
}
